body > #root > div {
  height: 100%;
}

.aggregateContainer {
  background-color: #a5d6a7;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: #a5d6a7 !important;
}

.toggleMonthlyBreakdown, .toggleMonthlyBreakdown:hover{
  background-color: #0d47a1;
  color: white;
}
